.categoria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria div{
    position: relative;
    width: 25%;
    padding: 50px;
}

.imgCategoria{
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.15s ease;
    z-index: 1;
}

.pCategoria{
    position: absolute;
    font-size: 60px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 1;
    transition: all 1s ease;
}

.categoria div:hover .imgCategoria{
    filter: blur(2px);
    opacity: 0.6;
    border: 3px solid #333;
    z-index: 0;
}
.categoria div:hover .pCategoria{
    opacity: 1;
}
.categoria div:hover{
    cursor: pointer;
}

@media screen and (max-width:600px){
    .categoria div{
        width: 60%;
    }
    .pCategoria{
        font-size: 40px;
    }
}