.box{
    display:flex;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.box div{
    width: 20%;
    margin: 1%;
}
.producto{
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}