.vsImg{
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    margin: auto;
}
.imgvc{
    z-index: 1;
    width: 100%;
    filter: saturate(50%);
    transition: all 1S ease;
}

.logov{
    position: absolute;
    background-color: blueviolet;
    padding: 21.3% 0%;
    right: -30%;
    top: 0%;
    z-index: 0;
    width: 35%;
    height: auto;
    transition: padding 1.2s ease;
}
#Vans:hover .logov{
    z-index: 2;
    padding: 21.3% 8%;
}
#Vans:hover .imgvc{
    filter: saturate(200%);
}
.logoc{
    position: absolute;
    background-color: blueviolet;
    left: -26%;
    padding: 21.3% 0%;
    top: 0%;
    z-index: 0;
    width: 35%;
    height: auto;
    transition: padding 1.2s ease;
}
#Converse:hover .logoc{
    z-index: 2;
    padding: 21.3% 8%;
}
#Converse:hover .imgvc{
    filter: saturate(180%);
}
